
.window_boundingBox {
    position: fixed;
    border: 1px solid #000000;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
}

.window_alertBtn {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

.window_header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.window_body {
    padding: 10px;
}

.window_closeBtn {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 10px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

/*skin for a*/
.window_skin_a.window_boundingBox {
    box-shadow: none;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
}

.window_skin_a .window_alertBtn {
    width: 50px;
    left: auto;
    right: 20px;
    margin-left: 0px;
    background-color: red;
    border: none;
}

.window_skin_a .window_header {
    background-color: red;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.window_skin_a .window_closeBtn {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    padding: 0px;
    text-align: center;
    background-color: blue;
    font-size: 24px;
    font-weight: bold;
    right: -15px;
    top: -15px;
}



































