
.window_boundingBox {
    position: fixed;
    border: 1px solid #000000;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 100px;
    margin-left: -250px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
}